<div class="container">
    <div class="row">
        <p class="title">User details</p>
        <div class="col-xs-12 formwrapper">
            <form class="form-horizontal">
                <div class="form-group"> <label for="username" class="col-xs-2">User Name</label>
                    <div class="col-xs-4"> <span class="form-control" ng-model="welcomeDetails.username"></span> </div>
                </div>
                <div class="form-group"> <label for="password" class="col-xs-2">Date of birth</label>
                    <div class="col-xs-4"> <span class="form-control" ng-model="welcomeDetails.username"></span> </div>
                </div>
                <div class="form-group"> <label for="password" class="col-xs-2">Gender</label>
                    <div class="col-xs-4"> <span class="form-control" ng-model="welcomeDetails.username"></span> </div>
                </div>
                <div class="form-group"> <label for="password" class="col-xs-2">Phone</label>
                    <div class="col-xs-4"> <span class="form-control" ng-model="welcomeDetails.username"></span> </div>
                </div>
                <div class="form-group"> <label for="password" class="col-xs-2">email</label>
                    <div class="col-xs-4"> <span class="form-control" ng-model="welcomeDetails.username"></span> </div>
                </div>
                <div class="form-group"> <label for="password" class="col-xs-2">Pan</label>
                    <div class="col-xs-4"> <span class="form-control" ng-model="welcomeDetails.username"></span> </div>
                </div>
                <div class="form-group"> <label for="password" class="col-xs-2">Salary</label>
                    <div class="col-xs-4"> <span class="form-control" ng-model="welcomeDetails.username"></span> </div>
                </div>
                <div class="form-group"> <label for="password" class="col-xs-2">Second Income</label>
                    <div class="col-xs-4"> <span class="form-control" ng-model="welcomeDetails.username"></span> </div>
                </div>
                <div class="form-group"> <label for="password" class="col-xs-2">Other Income</label>
                    <div class="col-xs-4"> <span class="form-control" ng-model="welcomeDetails.username"></span> </div>
                </div>
                <!--            <div class="col-xs-10 btn-wrapper">                <button type="submit" class="btn btn-primary">Submit</button>                <button type="reset" class="btn btn-default">Reset</button>            </div> -->
            </form>
        </div>
    </div>

 
</div>